/* CSS 애니메이션 정의 */

.land-4 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-size: 180vh;
}

.background_img {
	width: 100vw;
	height: 100vh;
	position: absolute;

	display: none;
}

.bird {
	width: 100vw;
	height: 100vh;
	margin-left: 40vw;
	margin-top: 33vh;
	position: absolute;
	background-image: url('../img/bird.png');
	background-size: 18vh;
	background-repeat: no-repeat;
}

.black_panther {
	width: 100vw;
	height: 100vh;
	margin-left: -16vw;
	margin-top: 60vh;
	position: absolute;
	background-image: url('../img/black_panther.png');
	background-size: 64vh;
	background-repeat: no-repeat;
}

.monkey1 {
	width: 100vw;
	height: 100vh;
	margin-left: 63vw;
	margin-top: 13vh;
	position: absolute;
	background-image: url('../img/monkey1.png');
	background-size: 64vh;
	background-repeat: no-repeat;
}

.monkey3 {
	width: 100vw;
	height: 100vh;
	margin-left: 6vw;
	margin-top: 0vh;
	position: absolute;
	background-image: url('../img/monkey3.png');
	background-size: 26vh;
	background-repeat: no-repeat;
}

.snake {
	width: 100vw;
	height: 100vh;
	margin-left: 48vw;
	margin-top: 58vh;
	position: absolute;
	background-image: url('../img/snake.png');
	background-size: 48vh;
	background-repeat: no-repeat;
}

.land-3 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url('../img/thin_tree.png');
	background-size: 178vh;
}

.land-2 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url('../img/middle_tree.png');
	background-size: 178vh;
}

.land-1 {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url('../img/front_tree.png');
	background-size: 178vh;
}

background-repeat: no-repeat;


/*.background-img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.bamboo_left {
	width: 70vw;
	height: 98vh;
	position: absolute;
}

.bamboo_right {
	width: 80vw;
	height: 98vh;
	margin-left: 19vw;
	position: absolute;
}


.front_tree_left {
	width: 38vw;
	height: 98vh;
	position: absolute;
}

.front_tree_right {
	width: 38vw;
	height: 98vh;
	margin-left: 61vw;
	position: absolute;
}

.middle_tree_left {
	width: 40vw;
	height: 98vh;
	position: absolute;
}

.middle_tree_right {
	width: 40vw;
	height: 98vh;
	margin-left: 59vw;
	position: absolute;
}

/*.cloud_speak {
	width: 7.5%;
	height: 11%;
	margin-left: 60%;
	margin-top: 6%;
	position: absolute;

	animation-name: cloud_speak;
	animation-duration: 8s;
	animation-iteration-count: infinite;

	display: none;
}

.boat {
	width: 11%;
	height: 12%;
	margin-left:56%;
	margin-top: 38%;
	position: absolute;

	animation-name: boat;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.boat_speak {
	width: 7.5%;
	height: 12%;
	margin-left: 56%;
	margin-top: 34%;
	position: absolute;

	animation-name: boat_speak;
	animation-duration: 3s;
	animation-iteration-count: infinite;

	display: none;
}

.wave1 {
	width: 2.5%;
	height: 1.7%;
	margin-left: 43%;
	margin-top: 39%;
	position: absolute;

	animation-name: wave1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave2 {
	width: 2.5%;
	height: 1.7%;
	margin-left: 64.5%;
	margin-top: 47.5%;
	position: absolute;

	animation-name: wave2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave3 {
	width: 2.5%;
	height: 1.7%;
	margin-left: 53.5%;
	margin-top: 23%;
	position: absolute;

	animation-name: wave3;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave4 {
	width: 2.5%;
	height: 1.7%;
	margin-left: 51%;
	margin-top: 45%;
	position: absolute;

	animation-name: wave4;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave5 {
	width: 2.5%;
	height: 1.7%;
	margin-left: 34%;
	margin-top: 44.5%;
	position: absolute;

	animation-name: wave5;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat1 {
	width: 2.5%;
	height: 4%;
	margin-left: 52.8%;
	margin-top: 38%;
	position: absolute;
}
.small_boat2 {
	width: 2.5%;
	height: 4%;
	margin-left: 64%;
	margin-top: 47%;
	position: absolute;

	animation-name: small_boat2;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat3 {
	width: 2.5%;
	height: 4%;
	margin-left: 28%;
	margin-top: 45%;
	position: absolute;

	animation-name: small_boat3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat4 {
	width: 2.5%;
	height: 4%;
	margin-left: 56.4%;
	margin-top: 18%;
	position: absolute;

	animation-name: small_boat4;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat5 {
	width: 2.5%;
	height: 4%;
	margin-left: 55%;
	margin-top: 38%;
	position: absolute;

	animation-name: small_boat5;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat6 {
	width: 2.5%;
	height: 4%;
	margin-left: 43.7%;
	margin-top: 40.5%;
	position: absolute;

	animation-name: small_boat6;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat7 {
	width: 2.5%;
	height: 4%;
	margin-left: 46%;
	margin-top: 43%;
	position: absolute;

	animation-name: small_boat7;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes big_airplane {
	0% {
		margin-left: 8%;
		margin-top: 15%;
	
	}

	100% {
		margin-left: 68%;
		margin-top: 33%;
	}
}

@-webkit-keyframes big_airplane_speak {
	0% {
		margin-left: 14%;
		margin-top: 12%;
	
	}

	100% {
		margin-left: 74%;
		margin-top: 30%;
	}
}

@-webkit-keyframes small_airplane {
	0% {
		margin-left: 43%;
		margin-top: 8%;
	}

	100% {
		margin-left: 10%;
		margin-top: 1%;
	}
}

@-webkit-keyframes small_airplane_speak {
	0% {
		margin-left: 43%;
		margin-top: 4%;
	}

	100% {
		margin-left: 10%;
		margin-top: 0%;
	}
}

@-webkit-keyframes cloud {
	0% {
		margin-left:60%;
		margin-top: 4%;
	}

	20% {
		margin-left: 62%;
		margin-top: 3%;
	}

	40% {
		margin-left:64%;
		margin-top: 4%;
	}

	60% {
		margin-left:66%;
		margin-top: 3%;
	}

	80% {
		margin-left:67%;
		margin-top: 4%;
	}

	100% {
		margin-left:68%;
		margin-top: 3%;
	}
}

@-webkit-keyframes cloud_speak {
	0% {
		margin-left: 60%;
		margin-top: 6%;
	}

	20% {
		margin-left: 62%;
		margin-top: 5%;
	}

	40% {
		margin-left: 64%;
		margin-top: 6%;
	}

	60% {
		margin-left: 66%;
		margin-top: 5%;
	}

	80% {
		margin-left: 67%;
		margin-top: 6%;
	}

	100% {
		margin-left: 68%;
		margin-top: 5%;
	}
}

@-webkit-keyframes boat {
	0% {
		margin-left:56%;
		margin-top: 38%;
	}

	20% {
		margin-left:57%;
		margin-top: 39%;
	}

	40% {
		margin-left:58%;
		margin-top: 38%;
	}

	60% {
		margin-left:59%;
		margin-top: 39%;
	}

	80% {
		margin-left:60%;
		margin-top: 38%;
	}

	100% {
		margin-left:61%;
		margin-top: 39%;
	}
}

@-webkit-keyframes boat_speak {
	0% {
		margin-left: 56%;
		margin-top: 32%;
	}

	20% {
		margin-left: 57%;
		margin-top: 33%;
	}

	40% {
		margin-left: 58%;
		margin-top: 32%;
	}

	60% {
		margin-left: 59%;
		margin-top: 33%;
	}

	80% {
		margin-left: 60%;
		margin-top: 32%;
	}

	100% {
		margin-left: 61%;
		margin-top: 33%;
	}
}


@-webkit-keyframes wave1 {
	0% {
		margin-top: 39%;
	}

	100% {
		margin-top: 39.3%;
	}
}


@-webkit-keyframes wave2 {
	0% {
		margin-top: 47.5%;
	}

	100% {
		margin-top: 47.7%;
	}
}


@-webkit-keyframes wave3 {
	0% {
		margin-top: 23%;
	}

	100% {
		margin-top: 22.8%;
	}
}


@-webkit-keyframes wave4 {
	0% {
		margin-top: 45%;
	}

	100% {
		margin-top: 45.3%;
	}
}


@-webkit-keyframes wave5 {
	0% {
		margin-top: 44.5%;
	}

	100% {
		margin-top: 44.2%;
	}
}

@-webkit-keyframes small_boat2 {
	0% {
		margin-top: 47%;
	}
	
	100% {
		margin-top: 47.4%;
	}
}

@-webkit-keyframes small_boat3 {
	0% {
		margin-top: 45%;
	}
	
	100% {
		margin-top: 45.4%;
	}
}
@-webkit-keyframes small_boat4 {
	0% {
		margin-top: 18%;
	}
	
	100% {
		margin-top: 18.4%;
	}
}
@-webkit-keyframes small_boat5 {
	0% {
		margin-top: 38%;
	}
	
	100% {
		margin-top: 38.4%;
	}
}
@-webkit-keyframes small_boat6 {
	0% {
		margin-top: 40.5%;
	}
	
	100% {
		margin-top: 40.9%;
	}
}
@-webkit-keyframes small_boat7 {
	0% {
		margin-top: 43%;
	}
	
	100% {
		margin-top: 43.4%;
	}
}
@-webkit-keyframes small_boat1 {
	0% {
		margin-top: 38%;
	}
	
	100% {
		margin-top: 38.4%;
	}
}



/* 	animation-name: tree1;
	animation-duration: 0.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

